<div fxLayout="column" fxFlexFill>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidemenu.toggle()">
      <mat-icon class="mat-24">menu</mat-icon>
    </button>
    <span fxFlex></span>
    <button *ngIf="!user" mat-button routerLink="/signup">Sign up</button>
    <button *ngIf="!user" mat-button routerLink="/login">Sign in </button>
    <div *ngIf="user">
      <!--<mat-menu #alertMenu>
        <button *ngFor="let msg of msgs; let i=index" mat-menu-item (click)="confirmMsg(i)">
          {{msg}}
        </button>
      </mat-menu>-->
      <button mat-icon-button [mat-menu-trigger-for]="accountMenu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item (click)="showAccountInfo()">Welcome, {{user.nickName}}</button>
        <button mat-menu-item routerLink="/user-info">User Setting</button>
        <a *ngIf="user" mat-button target="_self" href="/account/logout">logout</a>
      </mat-menu>
    </div>
    
  </mat-toolbar>
  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidemenu [mode]="sidenavMode" [opened]="isOpened">
      <mat-list>
        <mat-list-item>
          <button mat-icon-button routerLink="/" (click)="handleMenu(sidemenu)">
            <mat-icon class="mat-24">home</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button [disabled]="!user" routerLink="/data-manager"
                  (click)="handleMenu(sidemenu)">
            Data view/upload
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button [disabled]="!user" routerLink="/description"
                  (click)="handleMenu(sidemenu)">
            Data description
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button [disabled]="!user" routerLink="/association"
                  (click)="handleMenu(sidemenu)">
            Association insight
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button [disabled]="!user||isAdmin" routerLink="/eda-manager"
                  (click)="handleMenu(sidemenu)">
            EDA(Exploratory Data Analysis)
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button [disabled]="!user" routerLink="/model-suggestion"
                  (click)="handleMenu(sidemenu)">
            Model suggestion
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button [disabled]="!user||isAdmin" routerLink="/project-manager"
                  (click)="handleMenu(sidemenu)">
            Project Manager
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button [disabled]="!user" routerLink="/train-manager"
                  (click)="handleMenu(sidemenu)">
            Train manager
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button [disabled]="!isAdmin" routerLink="/admin-console"
                  (click)="handleMenu(sidemenu)">
            Administration
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button routerLink="/info"
                  (click)="handleMenu(sidemenu)">
            About the software
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button color="accent" routerLink="/privacy-policy" (click)="handleMenu(sidemenu)">
            Martinie Privacy Policy
          </button>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
