<mat-form-field>
  <mat-select [(ngModel)]="selectedTable" placeholder="Select Data" (selectionChange)="resetInspection()">
    <mat-option *ngFor="let table of tables" [value]="table">
      {{table}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-button color="primary" (click)="getSummary()"
        [disabled]="!selectedTable">
  기본 컬럼 정보 보기
</button>

<mat-spinner *ngIf="processing"></mat-spinner>

<table mat-table [dataSource]="summaries" class="mat-elevation-z8">
  <ng-container *ngFor="let prop of props" matColumnDef="{{prop}}">
    <th mat-header-cell *matHeaderCellDef>{{prop}}</th>
    <td mat-cell *matCellDef="let row">{{row[prop]}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="props"></tr>
  <tr mat-row *matRowDef="let row; columns: props;"></tr>
</table>
