<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-tab-group>
  <mat-tab label="Entire Data">
    <table mat-table [dataSource]="allData" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>type</th>
        <td mat-cell *matCellDef="let row">{{row.type}}</td>
      </ng-container>
      <ng-container matColumnDef="numRows">
        <th mat-header-cell *matHeaderCellDef>size</th>
        <td mat-cell *matCellDef="let row">{{row.numRows}}</td>
      </ng-container>
      <ng-container matColumnDef="isClean">
        <th mat-header-cell *matHeaderCellDef>isClean</th>
        <td mat-cell *matCellDef="let row">
          <h5 *ngIf="row.isClean">Yes</h5>
          <h5 *ngIf="!row.isClean">No</h5>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsAll"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAll;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Data ready for cleansing">
    <table mat-table [dataSource]="dirtyData" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>type</th>
        <td mat-cell *matCellDef="let row">{{row.type}}</td>
      </ng-container>
      <ng-container matColumnDef="numRows">
        <th mat-header-cell *matHeaderCellDef>size</th>
        <td mat-cell *matCellDef="let row">{{row.numRows}}</td>
      </ng-container>
      <ng-container matColumnDef="cleanse">
        <th mat-header-cell *matHeaderCellDef>Cleanse</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button color="accent" (click)="cleanse(row.name)">
            Execute Cleansing
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Cleansed/Clean Data">
    <table mat-table [dataSource]="cleansedData" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>type</th>
        <td mat-cell *matCellDef="let row">{{row.type}}</td>
      </ng-container>
      <ng-container matColumnDef="numRows">
        <th mat-header-cell *matHeaderCellDef>size</th>
        <td mat-cell *matCellDef="let row">{{row.numRows}}</td>
      </ng-container>
      <ng-container matColumnDef="preprocess">
        <th mat-header-cell *matHeaderCellDef>Preprocess</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button color="accent" (click)="preprocess(row.name)">
            Execute Cleansing
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Preprocessed Data">
    <table mat-table [dataSource]="preprocessedData" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>type</th>
        <td mat-cell *matCellDef="let row">{{row.type}}</td>
      </ng-container>
      <ng-container matColumnDef="numRows">
        <th mat-header-cell *matHeaderCellDef>size</th>
        <td mat-cell *matCellDef="let row">{{row.numRows}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <h5>
      this data group is ready for ML/DL
    </h5>
    <a mat-raised-button color="primary" routerLink="/model-suggestion" style="max-width:500px">
      Go to Model suggestion
    </a>

  </mat-tab>
</mat-tab-group>
