<div *ngIf="isUser" fxLayout="row wrap" fxLayoutGap="10px">
  <mat-card>
    <mat-card-content>
      <button mat-button color="primary" routerLink="/project-manager/new">Create a new project</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z8" *ngFor="let project of projects" fxFlex="23" fxFlex.gt-lg="19" fxFlex.md="31" fxFlex.sm="45" fxFlex.xs="99">
    <mat-card-header>
      <mat-card-title>
        {{project.name}}
        <button mat-icon-button color="accent" routerLink="/project-manager/{{project.name}}">
          <mat-icon>create</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle>{{project.category}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Project Type</mat-label>
        <input matInput type="text" [(ngModel)]="project.projectType" name="projectType" disabled>
      </mat-form-field>
      <mat-chip-list aria-label="members">
        <mat-chip *ngFor="let member of project.members" color="primary" selected>
          {{member.user}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>

<mat-card *ngIf="isUser&&projects.length==0">
  <mat-card-header>
    <mat-card-title>No Projects</mat-card-title>
    <mat-card-subtitle>Currently you have no active projects</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    How about making fun AI projects? AutoML also available
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent" routerLink="/project-manager">Go for some fun AI stuff</button>
  </mat-card-actions>
</mat-card>

<h2 *ngIf="isAdmin">Admin has no home content yet</h2>

<mat-card *ngIf="!isAdmin&&!isUser">
  <mat-card-header>
    <mat-card-title>Martinie</mat-card-title>
    <mat-card-subtitle>Automated AI platform</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Welcome
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" routerLink="/login">Sign in</button>
  </mat-card-actions>
</mat-card>
