<mat-card class="mat-elevation-z12">
  <mat-card-header>
    <mat-card-title>Not Found</mat-card-title>
    <mat-card-subtitle>
      <mat-icon color="primary">no_drinks</mat-icon>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>The service you are looking for does not exist. check spelling or contact your service provider.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent" (click)="returnToHome()">Return to Home</button>
  </mat-card-actions>
</mat-card>
