<button mat-fab color="accent" aria-label="add task button"
        (click)="addTask()" [disabled]="project.owner!='self'">
  <mat-icon>add</mat-icon>
</button>
<button mat-raised-button color="warn" (click)="autoGenerate()" [disabled]="tasks.length>0">
  Generate pipeline using AutoML
</button>
<mat-grid-list cols="5">
  <mat-grid-tile *ngFor="let task of tasks; index as i; last as isLast">
    <mat-card class="mat-elevation-z10">
      <mat-card-header>
        <mat-card-title>{{task.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>{{task.taskType}}</mat-label>
          <textarea matInput disabled [(ngModel)]="task.description"></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="editTask(i)">Edit</button>
        <button mat-button color="warn" (click)="deleteTask(i)">Delete</button>
      </mat-card-actions>
    </mat-card>
    <mat-icon *ngIf="!isLast">double_arrow</mat-icon>
  </mat-grid-tile>
</mat-grid-list>
