<button mat-fab color="accent" aria-label="create project button"
        (click)="createProjectEasy()" *ngIf="!isMaking">
  <mat-icon>add</mat-icon>
</button>

<table #projectTable mat-table [dataSource]="projects" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>name</th>
    <td mat-cell *matCellDef="let row">{{row.name}}</td>
  </ng-container>
  <ng-container matColumnDef="dataURI">
    <th mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let row">{{row.dataURI}}</td>
  </ng-container>
  <ng-container matColumnDef="projectType">
    <th mat-header-cell *matHeaderCellDef>Project Type</th>
    <td mat-cell *matCellDef="let row">{{row.projectType}}</td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let row">{{row.category}}</td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-headercell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let row; let i=index">
      <button mat-button (click)="editProject(i)">
        Edit
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let row; let i=index">
      <button mat-fab color="accent" aria-label="delete project"
              (click)="deleteProject(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button *ngIf="isMaking" mat-button color="accent" (click)="cancelMaking()">Cancel Making Project</button>
<mat-stepper *ngIf="isMaking" orientation="vertical" linear #stepper>
  <mat-step>
    <form>
      <ng-template matStepLabel>Project Name</ng-template>
      <mat-form-field apperance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="project name" [(ngModel)]="newProject.name" name="name" required>
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperNext>Next</button>
      <button mat-button color="warn" (click)="stepper.reset(); resetMaking()">Reset process</button>
    </div>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Category</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Project Category</mat-label>
        <mat-select [(ngModel)]="newProject.category" name="category"
                    (selectionChange)="filterData()">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
      <button mat-button color="warn" (click)="stepper.reset(); resetMaking()">Reset process</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Data</ng-template>
    <form>
      <mat-form-field apperance="fill">
        <mat-label>Data for project</mat-label>
        <mat-select [(ngModel)]="newProject.dataURI" name="dataURI">
          <mat-option *ngFor="let data of dataList" [value]="data.name">
            {{data.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
      <button mat-button color="warn" (click)="stepper.reset(); resetMaking()">Reset process</button>
    </div>
  </mat-step>
  <mat-step>
    <form fxLayout="column">
      <ng-template matStepLabel>Select Members</ng-template>
      <mat-chip-list #memberList aria-label="project members" multiple>
        <mat-chip *ngFor="let member of newProject.members; index as i"
                  [value]="member" removable
                  (removed)="removeUser(i)">
          {{member.user}}
          <button matChipRemove><mat-icon>cancel</mat-icon></button>
        </mat-chip>
      </mat-chip-list>
      <mat-form-field>
        <mat-label>available members</mat-label>
        <mat-select name="member">
          <mat-option *ngFor="let member of availableMembers; let i=index"
                      [value]="member" (click)="addMember(i)">
            {{member}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
      <button mat-button color="warn" (click)="stepper.reset(); resetMaking()">Reset process</button>
    </div>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Roles</ng-template>
      <mat-form-field *ngFor="let member of newProject.members" appearance="fill">
        <mat-label>{{member.user}}</mat-label>
        <mat-select [(ngModel)]="member.role" name="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
      <button mat-button color="warn" (click)="stepper.reset(); resetMaking()">Reset process</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Now you are ready to make your project</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button color="primary" (click)="postCreated()">Create</button>
      <button mat-button color="warn" (click)="stepper.reset(); resetMaking()">Reset process</button>
    </div>
  </mat-step>
</mat-stepper>
