<h2 mat-dialog-title [fxHide]="!data.isNew">Project create</h2>
<h2 mat-dialog-title [fxHide]="data.isNew">Project Edit</h2>
<div mat-dialog-content>
  <form fxLayout="column" #projectForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Project Name</mat-label>
      <input matInput maxlength="15" placeholder="Name" [(ngModel)]="data.project.name"
             name="name" appForbiddenName required [disabled]="!data.isNew">
      <mat-error *ngIf="nameRe.test(data.project.name)">No special characters</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" [fxShow]="data.isAdmin">
      <mat-label>Project Owner</mat-label>
      <mat-select [(ngModel)]="data.project.owner" name="owner"
                  (selectionChange)="onUserChange()" [disabled]="!data.isNew">
        <mat-option *ngFor="let user of data.users" [value]="user">
          {{user}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Project Category</mat-label>
      <mat-select [(ngModel)]="data.project.category" name="category"
                  (selectionChange)="filterData()" [disabled]="!data.isNew">
        <mat-option *ngFor="let category of data.categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Project Objective</mat-label>
      <mat-select [(ngModel)]="data.project.objective" name="objective" [disabled]="!data.isNew">
        <mat-option *ngFor="let objective of data.objectives" [value]="objective" [disabled]="!isValidObjective(objective)">
          {{objective}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Target Data</mat-label>
      <mat-select [(ngModel)]="data.project.dataURI" name="datauri" [disabled]="!data.isNew">
        <mat-option *ngFor="let data of data.dataList" [value]="data.name">
          {{data.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-chip-list #memberlist aria-label="members" multiple>
      <mat-chip *ngFor="let member of data.project.members; index as i"
                [value]="member" (removed)="removeMember(i)">
        {{member.user}}
        <button matChipRemove><mat-icon>cancel</mat-icon></button>
      </mat-chip>
    </mat-chip-list>
    <mat-form-field [fxHide]="data.isNew&&data.isAdmin">
      <mat-label>Colleagues</mat-label>
      <mat-select name="member">
        <mat-option *ngFor="let member of data.availableMembers; index as i" [value]="member" (click)="addMember(i)">
          {{member}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]="data.project" [disabled]="nameRe.test(data.project.name)||projectForm.invalid">Save</button>
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-button color="accent" (click)="reset()">Reset</button>
</div>
