<button mat-fab color="accent" aria-label="add task button"
        (click)="addTask()" [disabled]="project.owner!='self'">
  <mat-icon>add</mat-icon>
</button>
<div fxLayout="row">
  <ng-container *ngFor="let task of tasks; index as i; last as isLast">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{task.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{task.taskType}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" click="editTask(i)">Edit</button>
        <button mat-button color="warn" click="deleteTask(task.name)">Delete</button>
      </mat-card-actions>
    </mat-card>
    <mat-icon *ngIf="!isLast">double_arrow</mat-icon>
  </ng-container>
</div>
