<h2 mat-dialog-title *ngIf="data.isNew">Project create</h2>
<h2 mat-dialog-title *ngIf="!data.isNew">Project Edit</h2>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Project Name</mat-label>
      <input matInput maxlength="15" placeholder="Name" [(ngModel)]="data.project.name"
             name="name" [disabled]="!data.isNew">
    </mat-form-field>
    <mat-chip-list #memberlist aria-label="members" multiple>
      <mat-chip *ngFor="let member of data.project.members; index as i"
                [value]="member" (removed)="removeMember(i)">
        {{member.user}}
        <button matChipRemove><mat-icon>cancel</mat-icon></button>
      </mat-chip>
    </mat-chip-list>
    <mat-form-field>
      <mat-label>Colleagues</mat-label>
      <mat-select name="member">
        <mat-option *ngFor="let member of data.availableMembers; index as i" [value]="member" (click)="addMember(i)">
          {{member}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.project">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="reset()">Reset</button>
</div>
