<mat-card>
  <mat-toolbar color="primary">Create local Account(non-admin)</mat-toolbar>
  <mat-card-content>
    <form action="/account/signup" method="post" ngNoForm fxLayout="column">
      <mat-form-field>
        <input matInput type="email" name="username" placeholder="Email" [(ngModel)]="email"
               required (keyup.enter)="checkEmail()">
      </mat-form-field>
      <button mat-raised-button type="button" color="warn" (click)="checkEmail()" [fxHide]="emailChecked">
        Check Availability
      </button>
      <div [fxHide]="!emailChecked" fxLayout="column">
        <button mat-raised-button type="button" (click)="resetEmail()" color="accent">
          Reset E-mail
        </button>
        <mat-form-field>
          <input matInput placeholder="Name" name="name"
                 [(ngModel)]="name" type="text" required [autofocus]="emailChecked">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Organization</mat-label>
          <input matInput type="text" name="organization" placeholder="selected organization"
                 [(ngModel)]="organization" [matAutocomplete]="auto" required>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let org of organizations; index as i" [value]="org">
              {{org}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" name="password"
                 [(ngModel)]="password" type="password" required>
        </mat-form-field>
        <mat-form-field *ngIf="password">
          <input matInput placeholder="Confirm Password"
                 [(ngModel)]="passwordConfirm" type="password" required>
        </mat-form-field>
        <button mat-raised-button type="submit" color="warn">Create Account</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
