<h2 *ngIf="data.isNew" mat-dialog-title>Task create</h2>
<h2 *ngIf="!data.isNew" mat-dialog-title>Task Edit</h2>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Task Name</mat-label>
      <input matInput maxlength="15" placeholder="name" [(ngModel)]="data.task.name"
             name="name" appForbiddenName>
      <mat-error *ngIf="nameRe.test(data.task.name)">No Special characters</mat-error>
    </mat-form-field>
  </form>
  <form *ngIf="data.task.taskType=='preprocessing'">

  </form>
  <form *ngIf="data.task.taskType=='segmentation'">

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.task" [disabled]="nameRe.test(data.task.name)">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="reset()">Reset</button>
</div>
