<h2 *ngIf="data.isNew" mat-dialog-title>Task create</h2>
<h2 *ngIf="!data.isNew" mat-dialog-title>Task Edit</h2>
<div mat-dialog-content>
  <form fxLayout="column">
    <mat-form-field>
      <mat-label>Task Name</mat-label>
      <input matInput maxlength="15" placeholder="name" [(ngModel)]="data.task.name"
             name="name" appForbiddenName>
      <mat-error *ngIf="nameRe.test(data.task.name)">No Special characters</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Task Type</mat-label>
      <mat-select name="task_type" [(ngModel)]="data.task.taskType" [disabled]="!data.isNew">
        <mat-option *ngFor="let type of taskTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="data.task.description"></textarea>
    </mat-form-field>
  </form>
  <form *ngIf="data.task.taskType=='preprocess'">

  </form>
  <form *ngIf="data.task.taskType=='train'">

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.task" [disabled]="nameRe.test(data.task.name)">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="reset()">Reset</button>
</div>
